.App{
display: flex;
}
.Search-Results{
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Book-Card{
    width: 600px;
    display: flex;
    gap:25px;
}
.Book-Thumbnail{
    width: 90px;
    height: 130px;;
}
.Left-Img{
    padding: 10px;
}
.Right-Description{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}
.Title{
    font-weight: 600;
    font-size: 2em;
}
.Sub-Title{
    font-weight: 700;

}
.Search-Bar{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Sticky-Wishlist{
    position: sticky;
    top: 20px;
   
}
.Wishlist-Container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 10px;
}
.Book-Wishlist{
    padding: 30px;
    width: 30vw;
}
.Wishlist-Item{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
}